# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# mkdocs documentation
/site
docs/_build/
